*{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
    gap: 5px;
}
.sidebar{
    width: 25%;
}
#main_container{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
#image{
    width:85%;
}
#titl{
    font-size: 20px;
    color: #455a64;
}
#rating_div{
    width: 13%;
    height: 25px;
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 18px;
    color: white;
    margin-top: -15px;
    margin-left: 320px;
    background-color: rgb(60,193,1);
    padding: 4px 13px;
    border-radius: 10px;    
}
#star{
    font-size: 30px;
    margin-top: 33px;
    
}
#second_div{
    margin-top: -25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ship{
    color: #008a00;
    font-size: 18px;
    font-weight: 400;
}
#price{
    color: #f98d29;
    font-size: 20px;
    font-weight: 500;
}