/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

#aj_Container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 10px;
  margin: auto;
  /* margin-top: 190px; */
  width: 85%;
  /* margin-top: 20px; */
  height: auto;
}

#aj_first_line_div {
  display: flex;
  height: fit-content;
  /* margin-top: 150px; */
}

#aj_first_line {
  font-size: 20px;
  font-weight: 700;
  height: fit-content;
}

#aj_line {
  width: 84%;
  height: 0.1px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------p1----------------- */

.aj_first {
  width: 100%;
  height: 411px;
  /* border: 5px solid green; */
}

.swiper-button-prev,
.swiper-button-next {
  color: #f7941d;
}

.aj_first .swiper-slide img {
  width: 320px;
  height: 320px;
}

#aj_brand {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 42px;
  /* border: 1px solid red; */
  border-bottom: 3px solid #eceff1;
}

#aj_price {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: auto;
  /* border: 1px solid blue */
}

#aj_price p {
  color: #008a00;

  font-size: 14px;
}

#aj_span {
  background-color: #3cc101;
  font-size: 12px;
  color: white;
  font-family: sans-serif;
  height: 50%;
  width: 53px;
  text-align: center;
  margin-top: 15px;
  padding-top: 4px;
}

/* ---------------------line_2----------------------- */

#aj_second_line_div {
  display: flex;
}

#aj_line2 {
  width: 86%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

#aj_see_more {
  background-color: white;
  color: #52666f;
  margin-top: 22px;
  margin-left: 3px;
  font-size: 16px;
  font-weight: 500;
  width: 66px;
  /* border: 1px solid red; */
}

/* ------------------line_3------------------ */
#aj_line3 {
  width: 81.7%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* ------------------------line_4----------------- */
#aj_line4 {
  width: 82.7%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-5-------------- */
#aj_line5 {
  width: 97%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-6-------------- */
#aj_line6 {
  width: 97%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-7-------------- */
#aj_line7 {
  width: 81%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-8-------------- */
#aj_line8 {
  width: 80%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-9-------------- */
#aj_line9 {
  width: 80%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-10-------------- */
#aj_line10 {
  width: 84%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* -------------------------line-11-------------- */
#aj_line11 {
  width: 82%;
  height: 0.5px;
  border: 0.5px solid #7f7f7f;
  margin-top: 32px;
  margin-left: 2px;
}

/* ----------------scroll--------------------- */

.bigslide {
  height: 400px;
  width: 100%;
  margin-top: 190px;
}

.container {
  margin: 5%;
}

/* The dots/bullets/indicators bigslide*/
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(105, 105, 218);
}

/* --------------------scroll-------------------- */
