* {
  margin: 0;
  padding: 0;
}

#special_div {
  width: 100%;
  height: auto;
  background-color: white;
  font-family: sans-serif;
}
#brandcont {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-top: 160px;
}
#brandcont > div {
  margin-left: 50px;
  text-transform: uppercase;
  width: 30%;
  height: auto;
  line-height: 30px;
  /* margin-top: 150px; */
}
#brandcont > div > p > a {
  text-decoration: none;
  color: rgb(83, 83, 231);
}
h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}
#h2 {
  margin-top: 7px;
}
h1 {
  margin-top: -30px;
}
